%h2 Users

%header
%table.table.table-bordered
  %tr
    %th #
    %th &nbsp; Name
    %th Current Sign
    %th Last Sign
    %th Sign in count
    %th

  - @users.each do |user|
    = render user
%footer
  = paginate @users
