%header
  %h2 Users
%table.table.table-bordered
  %tr
    %th #
    %th &nbsp; Name
    %th Can add FriendGroups
    %th Current Sign
    %th Last Sign
    %th Sign in count
    %th= link_to(content_tag(:i, '', :class => 'icon-plus-sign icon-white') + ' Send Invite',  new_user_invitation_path, :class => 'btn btn-success')

  - @users.each do |user|
    = render user
%footer
  = paginate @users
