%h2
  User: #{@user.name}
%h4
  Email: #{mail_to(@user.email) if @user.email}
%p
  - @user.attributes.each do |column, val|
    .row
      .span2
        %label= column.humanize
      .span2
        = val
