$('#edit').html('#{j(render( :partial => 'form'))}');
$('##{edit_dom_id(@trunk)}').modal('show');
-#$('##{edit_dom_id(@trunk)} .operators li:eq(0)').tab('show');
$('##{edit_dom_id(@trunk)} .operators li:eq(0) a').first().click();
$('.datepicker').datepicker({ format:'dd-mm-yyyy'});
