.tabbable
  %ul#locations.nav.nav-tabs
    - @locations.each do |location|
      %li= link_to location.name, '#'+dom_id(location), :'data-toggle' => 'tab'

.tab-content
  - @locations.each do |location|
    = div_for(location, :class => 'tab-pane') do
      loading...

#sys_info.modal.hide
#edit
